DEBUG="true"
NEXT_PUBLIC_API="https://api.botmother.uz"
CONSTRUCTOR_URL="https://constructor.botmother.uz"
NEXTAUTH_SECRET="mpfxsuQEwZsmh65jFLPa0WI06l5GvysJnUFnGOXkiu4dewdwef=mpfxsuQEwZsmh65jFLPa0WI06l5GvysJnUFnGOXkiu4="
NEXTAUTH_URL=https://sales.botmother.uz
SALES_URL="https://sales.botmother.uz"
NODE_ENV="production"
MANAGER_URL=https://botmother.uz
